* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif, Tahoma, Geneva, Verdana;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: rgba(16, 16, 38, 0.9);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.caixaMaior {
    width: 32%;
    height: 270px;
    background-color: rgba(15, 19, 26, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 4px, rgba(0, 0, 0, 0.9) 0px 7px 13px -3px;
}

.voltar {
    width: 100%;
    min-width: 200px;
    height: 45px;
    font-size: 16px;
    margin-top: 35px;
    background-color: rgb(166, 15, 166);
    color: #fefefe;
    border-radius: 10px;
    cursor: pointer;
    border: 2px black;
    transition: 0.3s all;
}

.voltar:hover {
    background-color: rgba(15, 19, 26, 0.7);
    border: 2px solid rgb(166, 15, 166);
    color: rgb(166, 15, 166);
}
h2{
    color: rgb(166, 15, 166);
    margin-top: 0;
}
